# Python files
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environment
env/
venv/
*.env

# Django migrations
*/migrations/*.py
*/migrations/*.pyc
!*/migrations/__init__.py

# Static files
staticfiles/
media/

# IDE files
.vscode/
.idea/
*.swp
*.swo

# Log files
*.log

# Other sensitive files
*.DS_Store
*.local
